*{
    /* outline: 1px solid red; */
    padding:0;
    margin: 0;
    box-sizing: border-box;
  
}
body{
    overflow-x: hidden;
}
.header {
    /* width: 2250px; */
    background: url(./Images/plage.png );
    width: 100%;
    height: 70vh;
    color: white;
    left: -405px;
    top: -356px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #FFFFFF !important;
}
.nav-item {
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF !important;
}

.para {
    margin-top: 30px;
    width: 124px;
    height: 19px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.2px;

    color: #12CE31;
}

.hero {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.30px;
    color: #FFFFFF;
    flex: none;
    order: 1;
}

.card {
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-top: -20px;
}

.vieux {
    width: 80px;
    height: 120px;
    margin-top: 15px;
    margin-left: 15px;
}

.nage {
    width: 80px;
    height: 120px;
    margin-top: 15px;
    margin-left: 15px;
}

.mer {
    width: 80px;
    height: 120px;
    margin-top: 15px;
    margin-left: 15px;
}
.educ{
    margin-top: -30px;
    background-color: #FFFFFF;
}
.card-text {
    margin-top: 8rem;
}
.texte{
    /* position: absolute; */
    width: 236px;
    height: 43px;
    left: 288px;
   top: 59px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 43px;
   letter-spacing: 0.32px;
   color: #030C04;
}

.my-card {
    padding-top: 20px;
    padding-bottom:40px;
    margin-top: 50px;
    margin-bottom:50px;

}

.card {
    margin:9px;
   
}

.travel {
    /* position: absolute; */
    width: 247px;
    height: 48px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.32px;
    color: #030C04;
}
.diva{
background-color: #030C04;
margin-bottom: 25px;
}

.div1{
    background: linear-gradient(108.94deg, rgba(8, 97, 147, 0.54) -9.26%, #98FFA9 -9.26%, #030C04 27.28%);
    position:relative;
    z-index: 2;
}

.div2{
   background-color:#FFFFFF;
 
}
.montagne{
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: -40px;
}
.nége{
    margin-top: 30px;
}
.section4{
    position: absolute;
    /* width: 371px; */
    height: 168px;
    left: 270px;
    top: 126px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #7E8A80;
    z-index: 2;
}
.textro{
    position: absolute;
    /* width: 340px; */
    height: 43px;
    left: 270px;
    top: 50px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
    letter-spacing: 0.30px;
    color: #FFFFFF;
    
}
.based {
    width: 391px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.32px;
    color: #030C04;
}
.title2{
    width: 100px;
   height: 19px;
   left: 800px;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.20px;
  text-transform: uppercase;
  color: #12CE31;
}

.title {
    width: 78px;
    height: 16px;
    left: 130px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #12CE31;
    float: right;
}

.parag {
    position: absolute;
    /* width: 247px; */
    height: 84px;
    left: 130px;
    top: 50px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    color:#000000;
} 

.para2 {
    width: 89px;
    height: 19px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 1.2px;
    color: #12CE31;
    
}

.param {
    width: 365px;
    height: 84px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #FFFFFF;
    /* Inside auto layout */
    /* flex: none; */
    order: 1;
    flex-grow: 0;
}

.card-title {
    color: #12CE31;
}
.my-para {
    /* width: 410px; */
    /* height: 72px; */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.20px;
    color: #000000;
    flex: none;
    
}

.parag {
    justify-content: right;
    float: left;
}
.load{
   background-color: #12CE31;
   text-align: center;
   width: 120px;
   height: 35px;
   margin: auto;
   padding: 5px;
   margin-bottom:50px;
}

.footer {
    background-color: #000000;
}

.copy {
    text-align: center;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.contact {
    text-align:center;
    float: right;
    /* margin-left: 285px; */
}
/* .connection{
    float: right;
} */
